<header>
    <div class="container">
        <div class="wrapper">
            <div class="left">
                <!-- Logo -->
                <img src="https://images.news18.com/static_news18/pix/ibnhome/news18/megamenu/News18_logo.svg"
                    alt="Logo" routerLink="/">
                <span> | </span>
                <h1>india</h1>
            </div>
            <div class="right">
                <!-- Today's Date and Time -->
                <h4> {{date | date:'EEEE MMMM d, y'}} </h4>
                <h4> {{date | date:'h:mm a'}} </h4>
            </div>
        </div>
    </div>
</header>